.sidebar-nav {
  padding: 15px 0 0;
}

.sidebar-nav .has-arrow {
  position: relative;
}

.sidebar-nav ul {
  margin: 0;
  padding: 0;
}

.sidebar-nav>ul>li {
  margin-bottom: 5px;
}

.sidebar-nav ul li {
  list-style: none;
}

.sidebar-nav ul li:hover {
  background-color: #eaeaea;
}

.sidebar-nav>ul>li.active>a {
  color: #398bf7;
  font-weight: 500;
}

.sidebar-nav ul li a {
  color: #687384;
  padding: 10px 35px 10px 15px;
  display: block;
  font-size: 16px;
  font-weight: 400;
}

.sidebar-nav ul li a i {
  width: 1.1rem;
}

a:focus, a:hover {
  text-decoration: none;
}
