<nav class="sidebar-nav">
  <ul id="sidebarnav">
    <li>
      <a routerLink="/profile" (click)="closeSidebar()">
        <i class="fas fa-user-tie"></i>
        <span class="hide-menu">&nbsp;&nbsp; Profile </span>
      </a>
    </li>
    <li>
      <a routerLink="/variants" (click)="closeSidebar()">
        <i class="fas fa-users"></i>
        <span class="hide-menu">&nbsp;&nbsp; People </span>
      </a>
    </li>
    <li>
      <a routerLink="/products" (click)="closeSidebar()">
        <i class="fas fa-user-friends"></i>
        <span class="hide-menu">&nbsp;&nbsp; Persons </span>
      </a>
    </li>
  </ul>
</nav>


